/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { 
  box-sizing: border-box; 
}
*, 
::after, 
::before { 
  box-sizing: inherit; 
}

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    width: 250px;
    margin: 0;
}

.card{
  background-color: #31363b;
  width: 250px;
  box-shadow: 5px 5px 5px #31363b;
}

.picture img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.logo{
  position: absolute;
  color: #b92e81;
  display: none;
}

header{
  background-image: url(/Users/julia/Documents/GitHub/projekt02-profil-juliafurmanyuk/images/foto.jpg);
  display: block;
}

.obsah{
  padding: 40px 15px;
  background-color: #31363b;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  color: #bdc3c7;
  padding: 5%;
  padding-top: 0%;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25px;
  padding-left: 5%;
  margin: 0;
}

.odkazy{
  width: 250px;
  padding: 0;
  margin: 0;
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px #31363b;
  background-color: #31363b;
}

.odkazy li{
  display: inline-block;
  color: #31363b;
}

.odkazy a{
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  color: #bdc3c7;
}

.portfolio{
  width: 100%;
  text-align: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #3f464d;
}

.facebook, .twitter{
  width: 50%;
  text-align: center;
  display: block;
  border-top-style:solid;
  border-top-width: 1px;
  border-top-color: #3f464d;
}

.portfolio:hover{
  background-color: #e74c3c;
}

.facebook:hover{
  background-color: #3b5998;
}

.twitter:hover{
  background: #1da1f2;
}